/* TODO: Make it awesome */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:wght@300;400;700&display=swap');

body {
  max-width: 960px;
  margin: 0 auto;
}

header {
  margin: 1rem 0;
}

h1 {
  font-family: 'Bungee Spice', cursive;
  font-size: 300%;
  text-align: center;
}

nav {
  margin-top: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

li {
  margin: 0 5px;
  background-color: rgb(168, 54, 54);
  border-radius: 8px;
}

a {
  display: flex;
  padding: 1rem;
  width: 8rem;
  text-decoration: none;
  color: white;
  justify-content: center;
}

a:hover {
  background-color: rgb(201, 68, 68);
  border-radius: 8px;
}

section {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
}
